body {
    /* background-color: #777; */
    font-family: "Proxima Nova";
    letter-spacing: 1px;
    /* background: url(../img/background_2.png); */
}

.container {
    position: absolute;
    right: 0;
    bottom: 0;
    margin: 10px;
}

.container .container_block {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    flex-wrap: nowrap;
}

.log {
    font-weight: 400;
    font-size: 12pt;
    color: #fff;
    text-align: right;
    text-shadow: 1px 1px 5px #000;
}

.connect {
    color: #2be644;
}

.disconnect {
    color: #ff6347;
}

.block {
    position: fixed;
    bottom: 0;
    margin: 17px 70px;
}