* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

.left_bottom {
	position: fixed;
	z-index: 1000;
	width: 230px;
	color:  #252525;
	bottom: 26%;
	left:  5%;
	max-height: 500px;
}

@media (max-width: 1920px){
}

.notifyHeader {
	font-family: 'Proxima Nova Sm';
	color: #fff;
}

.notifyText {
	color: rgba(255, 255, 255, 0.7);
	font-size: 14.3px;
}

.notifyImg {
	width: 40px;
	height: 35px;
	background-repeat: no-repeat;
	background-image: url(../img/error.png);
	background-size: 30px;
	margin-right: 10px;
}

.error {
	background-image: url(../img/error.png);
	background-size: 32px;
}

.notify_texts {
	width: 200px;
	word-break: break-word;
}

@media (max-width: 1366px){
	.left_bottom {
		width: 165px;
	}	
	.notifyHeader {
		font-size: 14px;
	}
	.notifyText {
		color: rgba(255, 255, 255, 0.7);
		line-height: 11px;
		font-size: 12.5px;
	}	
	.notifyImg {
		width: 35px;
		height: 28px;		
		background-size: 27px;
	}	
	.error {
		background-image: url(../img/error.png);
		background-size: 20px;
	}	
	.notify_texts {
		width: 120px;
	}		
}

@media (max-width: 1280px){
	.left_bottom {
		width: 190px;
	}	
	.notifyHeader {
		font-size: 13px;
	}
	.notifyText {
		color: rgba(255, 255, 255, 0.7);
		line-height: 11px;
		font-size: 11.5px;
	}	
	.notifyImg {
		width: 34px;
		height: 20px;		
		background-size: 20px;
	}	
	.error {
		background-image: url(../img/error.png);
		background-size: 20px;
	}	
	.notify_texts {
		width: 200px;
	}		
}

.notify {
	margin-top: 5px;
	display: flex;
	align-items: center;
	padding: 10px 15px;
	font-family: 'Proxima Nova Rg';
	line-height: 17px;
}

.succes {
	background-image: url(../img/succes.png);
}

.warning {
	background-image: url(../img/warning.png);
}

.error_type {
	background: #d5624eDD;
}

.succes_type {
	background: #f39a51DD;
}

.warning_type {
	background: #5196f3DD;
}